@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Mali&display=swap'); */

@font-face {
  font-family: "Mali";
  src: local("Mali"),
   url("./fonts/Mali/Mali-Regular.ttf") format("truetype");
  /* font-weight: bold; */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Mali', 'Bradley Hand', 'Poppins', sans-serif;
    /* font-weight: 100; */
    /* background-image: url("../public/assets/pink-yellow-plain-background.jpg"); */
  }
}

@layer components {
  .container {
    @apply max-w-[1280px] w-[calc(100%-3rem)] ml-[1.5rem] mr-[1.5rem] lg:m-auto;
    /* @apply max-w-[1000px] w-[calc(100%-5rem)] ml-[2.5rem] mr-[2.5rem] lg:m-auto; */
  }

  .item-copy {
    @apply absolute bg-[#0077ff33] rounded-[8px] p-[6px] bottom-[8px] left-[8px] cursor-pointer transition-opacity text-[12px] text-[#0077ff];
  }

  .scroll_top {
    @apply fixed flex items-center right-[1.5rem] bottom-[-20%] bg-white p-[1rem] rounded-[8px] transition-[.6s] duration-[.6s] z-[50] cursor-pointer shadow-[0_1px_2px_rgba(0,0,0,0.2)];
  }

  .selector {
    @apply relative flex flex-col cursor-pointer justify-center items-center shadow-[0_1px_2px_rgba(0,0,0,0.2)] bg-white p-[2rem] rounded-[8px];
      max-width: 300px;
      /* height: auto; */
  }

  #__next {
    @apply h-full;
  }
  html, body, main {
      @apply h-full;
  }
}

input#gText:focus {
  border:1px solid #4D90FE;
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.3) inset;
    outline: none;

    }
.bg-cover {
/* Full height */
height: 100%;
background-image: url("../public/assets/no-151.png");

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.middle-text-cont {
  display: flex;
  height: 100%;
  align-items: center;

}

.middle-text {
  font-family: 'Bradley Hand', 'Poppins', sans-serif;
  height: 100%;
  display: flex;
}

.middle-text-2 {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
}
.div-content {
  position: relative;
  z-index: -1;
  background-image: url("../public/assets/background-pink pastel_1448496.png");
}

.cardImg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

.selector {
  --first-color: #a4e9f9;
  --second-color: #c5aef2;
  --third-color: #8578ea;
}
@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}
.selector::before,
.selector::after {
  opacity: 0;
  content: '';
  transition: all 0.5s ease-in-out;
}
.selector:hover::before,
.selector:hover::after {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(
    var(--rotate),
    var(--first-color),
    var(--second-color) 43%,
    var(--third-color)
  );
  animation: spin 2.5s linear infinite;
  opacity: 1;
}
.selector:hover::before {
  width: 104%;
  height: 104%;
  border-radius: 8px;
  top: -2%;
  left: -2%;
}
.selector:hover::after {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: scale(0.9);
  filter: blur(70px);
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #af3961;

  /* width: 30rem;

  max-width: 40rem; */
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 24px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

.draw-img {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}





/* CSS */
.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340, 86%, 81%) 0%,
    hsl(340, 82%, 74%) 8%,
    hsl(340, 84%, 65%) 92%,
    hsl(340, 80%, 67%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345, 79%, 72%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}
